.landing, .landing body{
    overflow: initial!important;
}

.l-header{
    position: absolute;
    left: 3.9vw;
    top: 0.88vw;
    z-index: 99;

    &-logo{
        display: block;
        width: 11.97vw;
        height: 11.97vw;

        img{
            display: block;
            width: 100%;
        }
    }
}

.lm-screen{
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    padding: 3.38vw 1.04vw 12.13vw 3.9vw;

    &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 69.21vw;
        height: 49.11vw;
        min-height: 100%;
        background: center / cover url(../images/landing/lm-bg.png) no-repeat;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 51.92vw;
        z-index: 2;
        display: block;
        width: 27.96vw;
        height: 100%;
        background: linear-gradient(270deg, #FFFFFF 55.66%, rgba(255, 255, 255, 0) 106.41%);
    }

    &-content{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        max-width: 45.15vw;
        width: 100%;
        margin-left: auto;
        height: calc(100vh - 3.38vw - 12.13vw);
    }

    &-title{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 8.64vw;

        span{
            display: block;
            margin-right: 0.98vw;
            font-weight: normal;
            font-size: 0.93vw;
            color: rgba(160, 156, 156, 0.8);
        }

        a{
            display: block;
            width: 8.43vw;
            img{
                display: block;
                width: 100%;
            }
        }
    }

    &-heading{
        display: block;
        font-weight: bold;
        font-size: 5.72vw;
        line-height: 5.72vw;
        text-transform: uppercase;
        color: #16478E;
        text-shadow: 2px 2px 0px #9F895B;
        margin: 1.45vw 0 2.76vw;

        span{
            display: block;
            &:first-child{
                text-align: right;
            }

            &:last-child{
                text-align: left;
            }
        }
    }

    &-desc{
        display: block;
        padding-bottom: 1.04vw;
        max-width: 25.1vw;
        margin-left: 4.11vw;
        font-weight: 300;
        font-size: 1.09vw;
        line-height: 1.56vw;
        color: #0B0101;
    }

    &-next{
        box-sizing: border-box;
        display: block;
        width: 3.125vw;
        margin-top:auto;
        margin-left: 15.15vw;

        img{
            display: block;
            width: 100%;
        }
    }

    &-bot{
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
        display: block;
        width: 100%;
        height: 17.81vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: center / cover url(../images/landing/liner.png) no-repeat;
        padding:0 3.64vw 1.82vw 4.84vw;
    }

    &-social{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 -0.41vw;

        li{
            display: block;
            margin: 0 0.41vw;

            a{
                display: block;
                width: 2.08vw;

                img{
                    display: block;
                    width: 100%;
                }
            }
        }

        &-wrapper{
            margin-right: auto;
            p{
                display: block;
                margin-bottom: 0.42vw;
                font-weight: 500;
                font-size: 0.729vw;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    &-desclamer{
        font-weight: normal;
        font-size: 0.93vw;
        line-height: 1.35vw;
        color: #FFFFFF;
    }

    &-brand{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 9.89vw;

        img{
            display: block;
            position: absolute;
            margin-right: -2.44vw;
            bottom: -2.08vw;
            width: 19.37vw;
        }
    }
}

.viruses{
    position: relative;
    padding-bottom: 7.39vw;

    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 65.5%;
        background: #93D5F6;
    }

    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: calc(65.5% - 17.91vw);
        z-index: 2;
        width: 100%;
        height: 17.91vw;
        background: center / cover url(../images/landing/v-bg-2.png) no-repeat;
    }

    &-title{
        position: relative;
        z-index: 3;
        display: block;
        text-shadow: 2px 2px 0px #9F895B;
    }

    &-desc{
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 62.5vw;
        margin: 0.98vw auto 2.55vw;

        &-col{
            width: calc(50% - 0.78vw);

            &:first-child{
                margin-right: 0.78vw;
            }

            p{
                display: block;
                font-weight: normal;
                font-size: 1.2vw;
                line-height: 1.56vw;
                color: #16478E;
            }
        }
    }

    &-table{
        position: relative;
        z-index: 3;
        width: 74.63vw;
        margin: 0 auto;
    }

    &-bg{
        display: block;
        width: 100%;
    }

    &-item{
        position: absolute;
        width: 5.2vw;
        height: 5.2vw;
    }

    &-icon{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.2vw;
        height: 5.2vw;
        border-radius: 50%;
        cursor: pointer;

        &:before{
            content: '';
            position: absolute;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.75;
        }

        &:after{
            content: '';
            position: absolute;
            z-index: 2;
            display: block;
            height: 1.77vw;
            width: 1.77vw;
            border-radius: 50%;
            background: #CE253D;
            opacity: 0.8;
        }
    }

    &-card{
        box-sizing: border-box;
        position: absolute;
        top: -6.9vw;
        right: calc(100% - 0.31vw);
        z-index: 5;
        display: block;
        width: 30.52vw;
        background: linear-gradient(237.03deg, #FFFFFF 32.8%, #E9ECEF 84.47%);
        opacity: 0.9;
        border-radius: 10px;
        padding: 1.56vw;
        display: none;

        span{
            display: block;
            font-weight: 600;
            font-size: 0.832vw;
            line-height: 1.04vw;
            text-transform: uppercase;
            color: #16478E;

            b{
                font-weight: 600;
                font-size: 1.09vw;
                line-height: 1.04vw;
                text-transform: uppercase;
                color: #9F895B;
            }

            & + span{
                margin-top: 1.04vw;
            }
        }

        p{
            display: block;
            font-weight: normal;
            font-size: 0.72vw;
            line-height: 0.93vw;
            color: #0B0101;

            & + span{
                margin-top: 1.04vw;
            }
        }

        &:before{
            content: '';
            position: absolute;
            top: 8.41vw;
            left: calc(100% - 0.2vw);
            display: block;
            height: 2.08vw;
            width: 1.35vw;
            background: center / contain url(../images/landing/arrow.svg) no-repeat;
        }

        &-title{
            display: block;
            margin-bottom: 1.92vw;
            font-weight: 500;
            font-size: 1.82vw;
            line-height: 2.13vw;
            text-transform: uppercase;
            color: #9F895B;
        }

        &-content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            img{
                display: block;
                width: 8.9vw;
                flex-shrink: 0;
            }
        }

        &-text{
            max-width: 16.14vw;
            padding-left: 1.56vw;
        }

        &-desc{
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: 2.34vw;

            &-img{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 5vw;
                flex-shrink: 0;

                img{
                    position: absolute;
                    display: block;
                    bottom: -2vw;
                    width: 10.52vw;
                }
            }
        }
    }
}

#viruses-item-1{
    top: 2.7vw;
    left: 23.43vw;
}

#viruses-item-2{
    top: 6.92vw;
    left: 31.14vw;
}

#viruses-item-3{
    top:8.12vw;
    left: 39.68vw;
}

#viruses-item-4{
    top:10.72vw;
    left: 56.61vw;
}

#viruses-item-5{
    top: 15.88vw;
    left: 30.26vw;
}

#viruses-item-6{
    top: 20.83vw;
    left: 38.69vw;
}

#viruses-item-7{
    top: 30.31vw;
    left: 43.22vw;
}

#viruses-item-8{
    top: 33.59vw;
    left: 35.78vw;
}

#viruses-item-9{
    top: 35.46vw;
    left: 63.48vw;
}

#viruses-item-10{
    top: 43.64vw;
    left: 60.05vw;
}